@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

header{
    background-color: #000000;
    color: white;
}
h1{
    text-align: center;
}
header > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}
p > a{
    color: white;
    text-decoration: none;
}
p > a:hover{
    text-decoration: underline;
}
