@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

body{
    min-height: 100vh;
    background-color: #0000000f;
}

header{
    background-color: #000000;
    color: white;
    min-height: 300px;
}
h1{
    text-align: center;
    font-family: 'Passion One', cursive;
    font-size: 125px;
    padding-top: 55px;
}
header > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}
p > a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}
p > a:hover{
    text-decoration: underline;
}
section > p{
    font-family: 'Sriracha', cursive;
    font-size: 48px;
    font-style: italic;
    font-weight: 550;
    padding-top: 60px;
    padding-left: 15px;
    padding-bottom: 60px;
    line-height: 100px;
}
#imagem1{
    background-color: #00000034;
    background-image: url('imagens/background001.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#imagem1 > p{
    font-family: 'Sriracha', cursive;
    font-size: 53px;
    font-style: italic;
    font-weight: 600;
    color: #ffffff;
    background-color: #00000061;
    height: 90%;
    width: 102vh;
    line-height: 100px;
}
#imagem2{
    background-color: #00000034;
    background-image: url('imagens/background002.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
}
#imagem2 > p{
    font-family: 'Sriracha', cursive;
    font-size: 53px;
    font-style: italic;
    font-weight: 500;
    color: #ffffff;
    background-color: #00000061;
    text-shadow: black 1px 1px 1px;
    height: 90%;
    width: 94vh;
    line-height: 100px;
}
footer > p{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer > p > a:hover{
    text-decoration: underline;

}